# Locale (SQLite)
# DATABASE_URL="file:./dev.db"

# Produzione (PostgreSQL - da Neon)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

NEXTAUTH_SECRET="genera-una-stringa-casuale-lunga"
NEXTAUTH_URL="https://tuo-sito.vercel.app"
