# Locale (SQLite)
# DATABASE_URL="file:./dev.db"

# Produzione (PostgreSQL - da Neon)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

NEXTAUTH_SECRET="genera-una-stringa-casuale-lunga"
NEXTAUTH_URL="https://tuo-sito.vercel.app"

# Web Push / PWA (genera con: node -e "const wp=require('web-push');const k=wp.generateVAPIDKeys();console.log(JSON.stringify(k))")
NEXT_PUBLIC_VAPID_PUBLIC_KEY="your-vapid-public-key"
VAPID_PRIVATE_KEY="your-vapid-private-key"
